---
layout: page
title: Pedalling rubbish
description: "Cycling Land's End to John o'Groats and raising money for Leukemia and Lymphoma Research"
permalink: /
tags: latest
---

Starting this August 23<sup>rd</sup> - Rich, Chris, Jacko and Henry will be cycling the almost 1000 miles from Land's End to John o'Groats.
<br><br>
We'd love to you to <a href = 'http://virginmoneygiving.com/lejogs' class = 'btn'>sponsor</a> us.
<br>
We're funding the madness ourselves so every penny goes straight to <a href ='http://leukaemialymphomaresearch.org.uk/'>Leukaemia and Lymphoma Research</a>.
<br><br>
<ul class="post-list">
{% for post in site.categories.posts limit: 10 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
{% endfor %}
</ul>
<ul class="navigation-wrapper">
  {% for post in site.categories.posts limit: 10 %} 
  {% if post.image.thumb %}
  <li><article><a href="{{ site.url }}{{ post.url }}"><img src ="/images/{{post.image.thumb}}"/><figcaption>{{post.title}}</figcaption></a>
  </article></li>
  {% endif %}
{% endfor %}
</ul>
