---
layout: page
title: Route
permalink : /route/index.html
description: "How we're going to get there"
---
&nbsp;
        <style>
            
            .subunit {
                fill: #fff;
                stroke: #777;
            }
            
            .subunit-boundary {
                fill: none;
                stroke: #fff;
                stroke-dasharray: 2,2;
                stroke-linejoin: round;
            }
            
            .main{
                margin:36px;
                position:absolute;
                top:0;
                left:0;
                width: 500px;
                font: 72px Helvetica;
                float:right;
            }
            
            .sub{
                margin-top:36px;
                width: 500px;
                font: 36px Helvetica;
                float:right;
            }
            
            b{
                color:steelblue
            }
            
            .sponsor{
                margin-top:24px;
                width: 500px;
                font: 24px Helvetica;
                float:right;
            }
            
            .place-label{
                color:steelblue;
                font: 10px Helvetica;
                }
            
            .stay1{
                fill: green;
                stroke:green;
                stroke-width:10;
            }
            
            .stay13{
                fill: red;
                stroke:red;
                stroke-width:10;
            }
          </style>
    <script src="/assets/js/d3.js"></script>
    <script src="/assets/js/topojson.js"></script>
    <script>
    
        width = parseInt(d3.select(".entry-content").style("width"))
        height = width

        
        var svg = d3.select(".entry-content").insert("svg")
        .attr("width", width)
        .attr("height", height)
        
        var thecontent = d3.select(".entry-content")
        .style("height",height + "px")
        
        thecontent.node().scrollIntoView()
        
        
        var projection = d3.geo.albers()
        .center([0, 54.4])
        .rotate([4.4, 0])
        .parallels([50, 60])
        .scale(Math.min(width,height)*6)
        .translate([width / 2, height / 2]);
        
        var path = d3.geo.path()
        .projection(projection)
        .pointRadius(0);
        
        var route = d3.geo.path()
        .projection(projection)
        .pointRadius(5);
        
        
        d3.json("/assets/json/uk2.json", function(error, uk) {
                var subunits = topojson.feature(uk, uk.objects.collection);
                
                svg.selectAll(".subunit")
                .data(subunits.features)
                .enter()
                .append("path")
                .attr("class", function(d) { return "subunit " + d.id; })
                .attr("d", path);
                
                svg.append("path")
                .datum(topojson.mesh(uk, uk.objects.collection, function(a, b) { return a !== b}))
                .attr("d", path)
                .attr("class", "subunit-boundary")
                .call(drawRoute)
                
                });
        
        function drawRoute(){
                

            
            d3.json("/assets/json/route3.json",function(error, rt){
                    collection = topojson.feature(rt,rt.objects.collection);
                    
                    
                    day = 0;
                    stay = 0;
                    mapline = svg.selectAll(".route")
                    .data(collection.features)
                    .enter()
                    .append("path")
                    .attr("d", route)
                    .attr("stroke-dasharray", function(d){return 100})
                .attr("stroke-dashoffset", function(d){ return 100} )
                    .attr("stroke","orange")
                    .attr("fill","none")
                    .attr("class", function(d){return d.geometry.type=="Point"?"stay stay"+ ++stay:"day day"+ ++day})
                    .attr("day",day)
                    .attr("stay",stay)
                    
                    labels = svg.selectAll(".place-label")
                 .data(collection.features.filter(function(element){return element.geometry.type=="Point"}))
                .enter().append("text")
                .attr("class", "place-label")
                .style("opacity",0)
                .attr("transform", function(d) { return "translate(" + projection(d.geometry.coordinates) + ")"; })
                .attr("dx", ".5em")
                .text(function(d) { return d.properties.name });
                    
                    mapline
                    .transition()
                    .duration(1000)
                    .delay(function(d,i){return i*750})
                    .ease("linear")
                    .attr("fill",function(d){return d.geometry.type=="Point"?"steelblue":"none"})
                    .attr("stroke","steelblue")
                    .attr("stroke-dashoffset", 0)
                    
                    
                     labels
                    .transition()
                    .duration(1000)
                    .delay(function(d,i){return i*1500})
                    .style("opacity",1)
                    
                    
                    });
            
        }
        
        </script>

<br><br>
<ul class="post-list">
{% for post in site.posts limit:12 %}
{% if post.category contains 'routes' %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
{% endif %}
{% endfor %}
</ul>
